---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';

export async function getStaticPaths() {
  // @todo do something like https://docs.astro.build/reference/api-reference/#data-passing-with-props
  const data = await fetch(`https://acnhapi.com/v1a/fish/`).then(res => res.json());
  return data.map(item => {
    return {
      params: { id: `${item.id}` },
      props: { ...item }
    };
  });
}

const { id } = Astro.request.params;
const { name, price, priceCj, location, catchPhrase } = Astro.props;

let title = name['name-USen'] + ' | Fish';
let description = 'Am fish';
let permalink = 'https://example.com';
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} permalink={permalink} />
  </head>
  <body>
    <Header />

    <article class="container mx-auto">
      <h1 class="text-2xl font-bold">{name['name-USen']}</h1>
      <p>Price: {price}</p>
      <p>CJ Price: {priceCj}</p>
      <p>Location: {location}</p>
      <p>{catchPhrase}</p>
    </article>
  </body>
</html>
