---
export interface Props {
  recipe: any,
}

const { recipe } = Astro.props;
const ingredients = recipe.ingredients || [];
---

<article class="block w-full">
  <header class="mb-2 text-center">
    {recipe.thumbnail && <img src={recipe.thumbnail} alt={recipe.title} class="inline-block mb-4">}
    <a href={recipe.url} class="text-orange-900 hover:underline hover:text-orange-800">
      <h2 class="font-bold text-xl">{recipe.title}</h2>
    </a>
  </header>
  <ul class="list-none">
    {ingredients.map(item => (
      <li>
        {item.type === 'fish' && <img src={`https://acnhapi.com/v1/icons/fish/${item.id}`} alt={item.name} class="inline-block w-16 h-auto">}
        {item.type === 'misc' && <img src={item.thumbnail} alt={item.name} class="inline-block w-11 h-auto">}
        {item.type === 'fish' && (
          <a href={`/fish/${item.id}`} class="hover:underline">
            <span class="text-orange-900 font-medium mx-2">{item.name}</span>
          </a>
        )}
        {item.type !== 'fish' && <span class="text-orange-900 font-medium mx-2">{item.name}</span>}
        <span class="bg-yellow-200 text-yellow-800 inline-block px-2 py-1 rounded-md font-medium">x {item.quantity}</span>
      </li>
    ))}
  </ul>
</article>
