---
import IngredientPreview from './IngredientPreview.astro';

export interface Props {
  recipe: any,
}

const { recipe } = Astro.props;
const ingredients = recipe.ingredients || [];
---

<article class="block w-full">
  <header class="mb-4 text-center">
    {recipe.thumbnail && <img src={recipe.thumbnail} alt={recipe.title} class="inline-block mb-4">}
    <a href={recipe.url} class="text-orange-900 hover:underline hover:text-orange-800">
      <h2 class="font-bold text-xl">{recipe.title}</h2>
    </a>
  </header>
  <ul class="list-none">
    {ingredients.map(item => (
      <li>
        <IngredientPreview ingredient={item} />
      </li>
    ))}
  </ul>
</article>
